<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/public/css/404.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <p class="p">
                界面失效！404
                
            </p>
            <ul class="ul">
                <li class="li">网络断开</li>
                <li class="li">路径不正确</li>
            </ul>
        </div>
    </body>
</html>